<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>1.png</string>
		<key>context</key>
		<string>在上一篇博客中山寨了一下新浪微博，在之后的博客中会对上一篇代码进行优化和重用，上一篇的微博请求的文字中有一些表情没做处理，比如带有表情的文字是这样的“我要[大笑]，[得意]”。显示的就是请求的字符串，那么我们如何把文字在本地转换成表情呢？下面将要说一下显示表情的解决方案。</string>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>2.png</string>
		<key>context</key>
		<string> 可以在空白处右键“Add Row”添加数据或者点中“root”行，点击“+”号即可添加。一般数据类型（Type）可以选择Array、Dictionary、String等类型。同时也可以给添加的数据赋值（Value）</string>
		<key>image</key>
		<array>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
		</array>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>2.png</string>
		<key>context</key>
		<string> 可以在空白处右键“Add Row”添加数据或者点中“root”行，点击“+”号即可添加。一般数据类型（Type）可以选择Array、Dictionary、String等类型。同时也可以给添加的数据赋值（Value）</string>
		<key>image</key>
		<array>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
			<string>3.png</string>
		</array>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>2.png</string>
		<key>context</key>
		<string> 可以在空白处右键“Add Row”添加数据或者点中“root”行，点击“+”号即可添加。一般数据类型（Type）可以选择Array、Dictionary、String等类型。同时也可以给添加的数据赋值（Value）</string>
		<key>image</key>
		<array>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
		</array>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>2.png</string>
		<key>context</key>
		<string> 可以在空白处右键“Add Row”添加数据或者点中“root”行，点击“+”号即可添加。一般数据类型（Type）可以选择Array、Dictionary、String等类型。同时也可以给添加的数据赋值（Value）</string>
		<key>image</key>
		<array>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
		</array>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>张三</string>
			<key>profile_image_url</key>
			<string>tou.png</string>
		</dict>
		<key>imageUrl</key>
		<string>2.png</string>
		<key>context</key>
		<string> 可以在空白处右键“Add Row”添加数据或者点中“root”行，点击“+”号即可添加。一般数据类型（Type）可以选择Array、Dictionary、String等类型。同时也可以给添加的数据赋值（Value）</string>
		<key>image</key>
		<array>
			<string>1.png</string>
			<string>2.png</string>
			<string>3.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
			<string>4.png</string>
		</array>
		<key>reposts_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>2</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
